
#list {
    animation: fade-up .5s ease forwards;
}
header {
    height: 5rem;
}
.editpanel {
    overflow: hidden !important;
    position: absolute !important;
    backdrop-filter: blur(1rem);
    background: #00000055 !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    inset: 0;
    animation: fade-in .3sec ease forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-up {
    animation: fade-up .5s ease forwards;
}

.fade-down {
    animation: fade-down .5s ease forwards;
}

@keyframes fade-up {
    from {
        transform: translateX(20rem);
        opacity: 0;
    }

    to {
        transform: translateX(0rem);
        opacity: 1;
    }
}

@keyframes fade-down {
    from {
        transform: translateX(-20rem);
        opacity: 0;
    }

    to {
        transform: translateX(0rem);
        opacity: 1;
    }
}

@media screen and (width > 576px) {
    @keyframes fade-up {
        from {
            transform: translateY(20rem);
            opacity: 0;
        }

        to {
            transform: translateY(0rem);
            opacity: 1;
        }
    }

    @keyframes fade-down {
        from {
            transform: translateY(-20rem);
            opacity: 0;
        }

        to {
            transform: translateY(0rem);
            opacity: 1;
        }
    }
}

.anime-name {
    font-weight: bold;
}
.anime-name-oncover {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color:#fff;
    position: absolute;
    width: 100%;
    padding: 1rem 1rem;
    bottom:0;
    background: linear-gradient(180deg, #00000000 0%, #000000e1);
    text-shadow: 0px 2px 2px #0000008b;
}
.blank-page-cover {
    position: absolute !important;
    inset:0 !important;
    width: 100% !important;
    height: calc(100dvh - 5rem) !important;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
.blank-page-cover::after {
    position: absolute;
    inset: -10rem;
    content:"";
    z-index:-2;
    width: 200% !important;
    height: calc(200dvh);
    background-image: url("assets/animemo.netlify.app_.jpg");
    background-repeat: repeat;
    background-size: 70rem;
    opacity:.5;
    transform: rotate(10deg);
    animation: bg-scroll 400s linear infinite;
    border: 1px solid green;
}
@media screen and (width < 576px) {
    .blank-page-cover::after { background-size: 30rem;}
}
@keyframes bg-scroll {
    from {background-position: 0 1000vh}
    to {background-position: 0 0}
}
.watched-count {
    color: #ff5e00;
}

.text-orange {
    color: #ff5e00 !important
}

.bg-orange {
    background: #ff5e00 !important
}

.item-blink {
    border: 2px solid #cccccc33 !important;
    border-color: #cccccc33 !important;
    background-color: #cccccc33 !important;
}

.sort-by-item::before {
    content: "";
    width: .3rem;
    height: .3rem;
    background-color: #ff5e00;
    position: absolute;
    border-radius: .3rem;
    left: .4rem;
    top: .8rem
}

/* btn info */
.btn-info {
    color: #fff !important;
    background-color: #ff5e00 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-info:hover {
    color: #fff !important;
    background-color: #da4500 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none;
}

.btn-info:active {
    color: #fff;
    background-color: #da4500;
    border: none;
    outline: none !important;
    box-shadow: none;
}

.btn-info:focus {
    color: #fff;
    background-color: #da4500;
    border: none;
    outline: none !important;
    box-shadow: none;
}