* {
    transition: all .3sec;
}

#list {
    animation: fade-up .5s ease forwards;
    perspective: 2rem;
}

@keyframes fade-up {
    from {
        transform: translateY(2rem);
        opacity: 0;
    }

    to {
        transform: translateY(0rem);
        opacity: 1;
    }
}

.anime-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.watched-count {
    color: #ff5e00
}

/* btn info */
.btn-info {
    color: #fff !important;
    background-color: #ff5e00 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-info:hover {
    color: #fff !important;
    background-color: #da4500 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none;
}

.btn-info:active {
    color: #fff;
    background-color: #da4500;
    border: none;
    outline: none !important;
    box-shadow: none;
}

.btn-info:focus {
    color: #fff;
    background-color: #da4500;
    border: none;
    outline: none !important;
    box-shadow: none;
}